.footer p{
  color: white;
}
.imglogo img{
  max-width: 100%;
  height: 98px;
}
.rowlogo{
  width: 100%;
  height: 98px;
  background-color: #82b7e4;
  text-align: center;
}
.rowmenu{
  padding: 15px;
  width: 100%;
  background-color: #0e0e0ec9;
  display: inline-block;
  height: 55px;
  /*text-align: center;*/
}
.rowmenu a{
  font-size: 20px;
  padding: 30px;
}
.left h3{
  background-color: blue;
  height: 30px;
}
#link1 a{
  text-align: center;
  display: block;
  padding: 0;
  color: blue
}
#link1 hr{
  padding: 0;
  border: 0;
  border-top: 2px dotted #8c8c8c;
}
.left h3{
  text-align: center;
}
.right h3{
  color: black;
  font-weight: bold;
}
.rowfooter{
  background-color: #444;
  height: 200px;
}
.footer2{
  background-color: #2f2f2f;
  height: 40px;
}