.menu, .header, .footer {
  width: 100%
}
.rowheader{
  background-color: #1f201a;
  height: 100px;
}
.col-sm-6 img{
  float: right;
  padding-top: 30px;
}
.logo{
  background-color: #1f201a;
}
.rowmenu{
  height: 50px;
  background-color: #363732;
}
.rowmenu a{
  font-size: 15px;
  text-align: center;
}
.rowmenu div{
  padding-top: 15px;
}
.rowslide img {
 width: 100%
}
.rowitems{
  padding-top: 25px;
  padding-left: 100px;
  height: 200px;
  background-color: #E2DDD9;
}
/*.rowitems{
  float: left
}*/

.children{
  height: 130px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 100px;
  text-align: center;
  float: left;
  width: 33.33%;
  background-color:#f8f4f1;
}
.col-sm-7 {
  text-align: center;
  padding-top: 20px;
}
.col-sm-5 img{
  max-width: 100%;
}
.left img{
  max-width: 100%;
}